body {
  font-family: 'Noto Sans JP', sans-serif;
}

header {
  padding: 10px;
  background-color: rgb(0, 25, 53);
}

h1 {
  margin: 0 3%;
  color: white;
}

h3,
h5 {
  margin: 0 auto;
}

.header {
  font-weight: bold;
  padding: 10px;
}

label,
input {
  font-size: 16px;
}

.save-btn {
  background-color: rgb(242, 153, 46);
  color: white;
}

.save-btn:hover {
  background-color: rgb(217, 94, 64);
  color: white;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.hidden {
  display: none;
}

.view {
  display: block;
  background-color: #f9f9f9;
}

#navbar-profile {
  background-color: rgb(64, 83, 104);
  padding: 0.5rem 1rem;
}

.navbar-profile-button {
  color: white;
  background-color: rgb(94, 186, 140);
  font-size: larger;
}
